<div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
                <img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
              </a>
            </div>
            <div class="pull-right">
              <ul>
                <li>Войти</li>
                <li>
                  <a href="#" class="btn btn-default">Регистрация</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main">
          <h1>О Болте</h1>
          <p>Купите или арендуйте крупнейший выбор фильмов и телевизионных сериалов. Попробуйте это в течение 30 дней абсолютно бесплатно. После бесплатной пробной версии, это будет стоить всего лишь 499 руб. / месяц за неограниченный потоковый режим, везде.</p>
        </div>
      </div>
    </div>